API_ID=32616094 # get this value from my.telegram.org
API_HASH=af7f796ad3420c7fe6d17220b0dee0c5 # get this value from my.telegram.org
BOT_TOKEN=8271417279:AAFUUFysn9UnWwI8m05LyllrtDYAn88Jil4 # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://hal588869_db_user:h1XR9uuemLaTyz60@cluster0.qumwxdg.mongodb.net/?appName=Cluster0 # get this value from mongodb.com
LOG_GROUP_ID=-1003514459756 # get this value from in your log group 
MUSIC_BOT_NAME=yukki # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
